footer {
    background-color: #4d414145;
    list-style-type: none;
    color: #ff9a80;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
    border-top: 2px solid black;
}

footer p {
    margin: 10px 0;
}

footer i {
    color: red;
}

footer a {
    list-style-type: none;
    color: white;
}
